h3{
    font-size: 40px !important;
}
.btn-danger:hover{
    background-color: rgb(255, 0, 132);
}
.btn-success:hover{
    background-color: rgb(0, 255, 162);
}
canvas{
    animation-name: example;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 4px 4px 40px rgb(255, 118, 216);}
    to{ box-shadow: 4px 4px 40px rgba(190, 116, 255, 0.852);}
}